

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


.open-sans-normal2 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* header styles  */


.header{
    background-image: url('./B12A01-landing-launchpad/Assets/Hero-bg.png');
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-title{
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
}

.banner_content{
    margin-bottom: 158px;
}


/* nav styles */

nav{
    display: flex;

    align-items: normal;
    justify-content: space-between;
    margin: 0 200px;
    margin-bottom: 158px;
}

.nav-title{
    font-size: 34px;
    color: #4E47FF ;
}


/* sec styles */

.sec-title{
    font-size: 42px;
    font-weight: 700;
    color: #252232;
}

.sec-p{
    font-size: 24px;
    font-weight: 100;
    color: #252432;
    max-width: 517px;
}


.sec-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* text-align: center; */
    margin-top: 100px;
    /* max-width: 517px; */
    /* margin: 0 auto; */
    margin-bottom: 158px;
}

.sec-img{
    border-radius: 40px;
}

.sec2-content{
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 100px;
    max-width: 517px;
    margin: 0 auto;
    margin-bottom: 158px;
    max-width: 1140px;
    border-radius: 20px;
    background-color: #e0dff1;
    margin: auto;
    padding: 50px;
}
.sec-title2{
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    align-items: center;
    color: #252432;
}

.sec-subtitle{
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    color: #3f33e8;
    margin: 0;
}

.sec-joined{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-direction: column; */
    text-align: center;
}

.sec3-content{
    align-items: center;
    justify-content: space-around;

    /* flex-direction: column; */
    margin-top: 158px;
    margin: 0 auto;
    max-width: 1140px;
    margin-bottom: 158px
    
}

.sec3-words{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    
}

.sec3-set{
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 20px ; 
    /* margin: 20px; */
}

.title3{
    text-align: center;
    font-size: 42px;

}

.sec3-set-avatar{
    border-radius: 50%;
}

.sec3-set-avatar-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

div ul li{
    list-style: none;
}



.ready-to-focus{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 158px;
    
    padding: 50px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.16);
    
}

.sub-title{
    text-align: center;
    font-weight: 100;
}

.wc-big{
    margin-top: 50px;
    border-radius: 50px;
}

/* shared styles  */

.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    
}

.btn-primary:hover{
    transition: all 0.3s ease;
    transform: scale(1.05);
    background-color: orange;
}


/* footer  */
footer{
    padding: 130px 230px;
    display: flex;
    align-items:center;
    gap: 50px;
    background-color: #eeedf4;
}

.section-title2{
    font-weight: 700;
    font-size: 85px;
}

.footer-column{
    width: 50%;
}

footer input[type="text"], footer input[type="email"]{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 497px;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

footer textarea{
    height: 180px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 497px;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

footer button{
    width: 497px;
}
.footer-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 158px;
}

.bold{
    font-weight: 900;
}

.foot{
    max-width: 50%;
    font-weight: 100;
}

.footer-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

div ul li a{
    text-decoration: none;
    color: black;
    font-weight: 100;
}
